<div class="row">
  <h1>Listagem de categorias</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <td colspan="5">
          <button class="btn btn-primary" (click)="categoryInsertService.showModalInsert()">Nova categoria</button>
        </td>
      </tr>
      <tr>
        <th style="width: 5%;">ID</th>
        <th style="width: 65%;">Nome</th>
        <th style="width: 10%;">Status</th>
        <th style="width: 10%;">Criado em</th>
        <th style="width: 10%;">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories"> 
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td><i class="fas" [ngClass]="{'fa-check': category.active, 'fa-times': !category.active}"></i></td>
        <td>{{ category.created_at.date | date: 'dd/MM/yyyy' }}</td>
        <td>
          <a href="javascript:void(0);" (click)="categoryEditService.showModalEdit(category.id)" class="btn btn-primary btn-sm">
            <i class="fas fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="javascript:void(0);" (click)="categoryDeleteService.showModalDelete(category.id)" class="btn btn-danger btn-sm">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-category-new-modal 
  (onSuccess)="categoryInsertService.onInsertSuccess($event)"
  (onError)="categoryInsertService.onInsertError($event)"></app-category-new-modal>

  <app-category-edit-modal 
    [categoryId]="categoryId"
    (onSuccess)="categoryEditService.onEditSuccess($event)"
    (onError)="categoryEditService.onEditError($event)"></app-category-edit-modal>

<app-category-delete-modal
  [categoryId]="categoryId"
  (onSuccess)="categoryDeleteService.onDeleteSuccess($event)"
  (onError)="categoryDeleteService.onDeleteError($event)"></app-category-delete-modal>