<div class="row">
  <h1>Atualizar perfil</h1>

  <div class="col-md-12">
    <!-- <card-error *ngIf="showErrors()">
      <list-error [errors]="errors"></list-error>
    </card-error> -->
  </div>

  <div class="col-md-12">
    <form [formGroup]="form" (submit)="submit()">
      <div class="form-group">
        <label [for]="fieldsOptions.name.label">Nome</label>
        <input type="text" [id]="fieldsOptions.name.id" class="form-control" formControlName="name" isInvalid>
        <field-error 
          [field]="form.get('name')"
          [messages]="fieldsOptions.name.validationMessages"
          [label]="fieldsOptions.name.label"></field-error>
      </div>
      <div class="form-group">
        <label [for]="fieldsOptions.email.label">E-mail</label>
        <input type="email" [id]="fieldsOptions.email.id" class="form-control" formControlName="email">
        <field-error 
          [field]="form.get('email')"
          [messages]="fieldsOptions.email.validationMessages"
          [label]="fieldsOptions.email.label"></field-error>
      </div>
      <div class="form-group">
        <label [for]="fieldsOptions.password.label">Senha</label>
        <input type="password" [id]="fieldsOptions.password.id" class="form-control" formControlName="password">
        <field-error 
          [field]="form.get('password')"
          [messages]="fieldsOptions.password.validationMessages"
          [label]="fieldsOptions.password.label"></field-error>
      </div>
      <div class="form-group">
        <label for="phone_number">Telefone</label>
        <div class="input-group">
          <input type="text" id="phone_number" readonly class="form-control" formControlName="phone_number">
          <div class="input-group-append">
            <button class="btn btn-info" type="button" (click)="openPhoneNumberAuthModal()">Novo</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="photo">Foto de perfil</label>
        <input type="file" id="photo" class="form-control" (change)="onChoosePhoto($event.target.files)">
        <div class="row col-md-12" style="margin-top: 5px;">
          <button type="button" class="btn btn-danger" [hidden]="!has_photo" (click)="removePhoto()">Remover foto de perfil</button>
          <div class="alert alert-info" [hidden]="has_photo || authService.me.profile.has_photo">Para remover a foto, salve o formulário</div>
        </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Salvar</button>
    </form>
  </div>
</div>
<phone-number-auth-modal (onSuccess)="onPhoneNumberVerification($event)"></phone-number-auth-modal>