<form (submit)="submit()">
  <app-modal (onHide)="hideModal($event)">
    <h5 modal-title>Editar produto - {{ form.get('name').value }}</h5>

    <div modal-body>
      <div class="modal-body">
        <card-error *ngIf="showErrors()">
          <list-error [errors]="errors"></list-error>
        </card-error>
        <product-form [form]="form"></product-form>
      </div>
    </div>

    <div modal-footer>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Editar</button>
    </div>
  </app-modal>
</form>