<div class="row">
  <h1>Categorias de produto - {{ product?.name }}</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <td colspan="5">
          <product-category-new 
            [productId]="productId" 
            [productCategory]="productCategory"
            (onSuccess)="onInsertSuccess($event)"
            (onError)="onInsertError($event)"></product-category-new>
        </td>
      </tr>
      <tr>
        <th style="width: 5%">ID</th>
        <th style="width: 65%">Nome</th>
        <th style="width: 10%">Ativa?</th>
        <th style="width: 10%">Criado em</th>
        <th style="width: 10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of productCategory?.categories">
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td><i class="fas" [ngClass]="{'fa-check': category.active, 'fa-times': !category.active}"></i></td>
        <td>{{ category.created_at.date | date: 'dd/MM/yyyy' }}</td>
        <td>
          <a href="javascript:void(0)" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>