<!--
  Generated template for the ChatMessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="green-dark">
    <ion-item color="green-dark" no-lines>
      <ion-avatar item-start>
        <img src="https://www.gravatar.com/avatar/nouser.jpg" alt="">
      </ion-avatar>
      <ion-title>Nome do grupo</ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding class="chat-bg">
  <ng-container *ngFor="let message of messages">
    <chat-content-left [message]="message" *ngIf="!(message.user_id | isCurrentUser)"></chat-content-left>
    <chat-content-right [message]="message" *ngIf="message.user_id | isCurrentUser"></chat-content-right>
  </ng-container>
</ion-content>

<ion-footer no-border>
  <chat-footer></chat-footer>
</ion-footer>
